* {
  box-sizing: border-box;
}

html {
  @apply
    subpixel-antialiased
    bg-black
    text-grey-light;
  font-feature-settings: "liga" on;
  text-rendering: optimizeLegibility;

  font-family: var(--font-display);
}
